
@import "bootstrap-sprockets";
@import "bootstrap";

body { @extend .container;
    background-color: #d6d6d6;
     }

section { @extend .container-fluid;
  margin: 30px;
 }

body > main { @extend .row;
  section { @extend .col-md-11; }
  .artwork { @extend .col-md-5;  }
  .show_text { @extend .col-md-6; }
}

.navbar {
  padding: 10px;
  margin-bottom: 30px;
}

.collapsibleList li > input + * {
 display: none;
}

.collapsibleList li > input:checked + * {
 display: block;
}

.collapsibleList li > input {
 display: none;
}

.collapsibleList label {
 cursor: pointer;
}

.buffer {
  height: 70px;
}

.show_text {
  height: 440px;
  overflow: auto;
}

.time_left {
  font-weight: bold;
  margin: 10px 0;
}

.edit_episode {
  display: inline;

}

.ep_column {
  width: 85px;
  display: inline-block;
}

[value="Update Episode"] {
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-default;
  margin: 5px;
}

// input[type=checkbox]
//     {
//         /* Double-sized Checkboxes */
//         -ms-transform: scale(2); /* IE */
//         -moz-transform: scale(2); /* FF */
//         -webkit-transform: scale(2); /* Safari and Chrome */
//         -o-transform: scale(2); /* Opera */
//         padding: 10px;
//     }
