
@import "bootstrap-sprockets";
@import "bootstrap";

body { @extend .container; }

section { @extend .container-fluid;
  margin: 30px;
 }

body > main { @extend .row;
  section { @extend .col-md-11; }
  .artwork { @extend .col-md-5;  }
  .show_text { @extend .col-md-6; }
}

[id^="togList"],                        /* HIDE CHECKBOX*/
[id^="togList"] ~ .list,                /* HIDE LIST */
[id^="togList"] + label  span + span,   /* HIDE "Collapse" */
[id^="togList"]:checked + label span{   /* HIDE "Expand" (IF CHECKED) */
    display:none;
}
[id^="togList"]:checked + label span + span{
    display:inline-block;               /* SHOW "Collapse" (IF CHECKED) */
}
[id^="togList"]:checked ~ .list{
    display:block;                      /* SHOW LIST (IF CHECKED) */
}





