
@import "bootstrap-sprockets";
@import "bootstrap";

body {
    background-color: #d6d6d6;
    overflow-x: hidden;
     }

section { @extend .container-fluid;
  margin: 30px;
 }

body > main { @extend .row;
  section { @extend .col-lg-12; }
  .artwork {  @extend .col-lg-4; @extend .col-md-5; @extend .col-sm-5; @extend .col-xs-3;  }
  .show_text { @extend .col-lg-6; @extend .col-md-7; }
  .artwork_small {@extend .col-lg-3; @extend .col-md-3; @extend .col-sm-4; @extend .col-xs-6; }
}


.navbar {
  padding: 10px;
  margin-bottom: 30px;
  text-align: center;
}

.title {
  @extend .col-lg-12;
}

.title h1 {
  text-align: center;
  font-weight: bold;
}

.navbar h2 {
  text-align: center;
  margin: 10px auto;
  color: #999999;
  font-weight: bold;
  font-size: 200%;
  display: inline-block;
}

.title_bar {
  margin: 0 auto;
  display: inline;

}

#fancy {
  @extend .col-lg-12;
}

.collapsibleList li > input + * {
 display: none;
}

.collapsibleList li > input:checked + * {
 display: block;
}

.collapsibleList li > input {
 display: none;
}

.collapsibleList label {
 cursor: pointer;
}

.buffer {
  height: 70px;
}

.show_text {
  height: 440px;
  overflow: auto;
  padding: 10px 15px 19px;
}

.show_text h3 {
  display: inline;
}

.binge_time {
  margin-bottom: 15px;
}

.time_left {
  font-weight: bold;
  margin: 10px 0;
}

.edit_episode, .edit_season {
  display: inline;

}

.ep_column {
  width: 85px;
  display: inline-block;
}

.season {
  display: inline-block;
  margin-right: 10px;
}

[value="Update Episode"] {
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-default;
  margin: 5px;
  display: inline;

}

[value^="Add to "] {
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-success;
  margin: 5px;
  display: inline;
}

[value^="Remove from "] {
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-danger;
  margin: 5px;
  display: inline;
}

[value="Mark as Watched"] {
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-success;
  margin: 5px;

}

[value="Mark as Unwatched"] {
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-danger;
  margin: 5px;
}

.button_to {
  display: inline;
  margin: 5px;
}

.artwork_small .img-responsive {
  display: inline;
  max-height: 441px;
}

.artwork_small {
  text-align: center;

}

.artwork .img-responsive {
  display: inline;
  max-height: 440px;
}
.add_remove {
  margin: 5px;
}

.add_remove input {
  display: block;
  margin: 0 auto;
}

.new_list {
 display: inline;
 @extend .col-lg-10;
}

.artwork_small {
  margin: 10px 0;
}


li .divider {
  background-color: #777777;
}

.dropdown-menu > li > a {
  color: #777777;
}

h6 {
  color: #d6d6d6;
}
