<div id="fancy">
  <img class="img-responsive" src="assets/bb.jpg" alt="What are you binge watching?">
</div>
<section>
<% @shows.sort.each do |show| %>

    <div class="artwork_small">
      <%= render 'artwork', :show => show %>
      <div class="add_remove">
        <%= render 'shows/addshow', :show => show %>
      </div>
    </div>

<% end %>
</section>


