<div id="fancy">
  <%= image_tag('bb.jpg', class: "img-responsive") %>
</div>
<section>
<% @shows.sort.each do |show| %>

    <div class="artwork_small">
      <%= render 'artwork', :show => show %>
      <div class="add_remove">
        <%= render 'shows/addshow', :show => show %>
      </div>
    </div>

<% end %>
</section>


