<!DOCTYPE html>
<html>
<head>
  <title>BingeWatchApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <a href="/shows" class="navbar-brand">BINGE-Y</a>
      <ul class='nav navbar-nav navbar-right'></ul>
    </div>
  </div>

  <div class="buffer row"></div>
  <main>

  <%= yield %>
  </main>


  </div>
</body>

</html>
